# Build artifacts
build/
devkitpro_temp/
switchstream_data/
*.elf
*.nro
*.o
*.nacp
romfs/assets/*
!romfs/assets/.gitkeep

# Large binaries / Precompiled files
torrserver

# Logs
*.txt
*.log

# IDE & OS files
.DS_Store
.vscode/
.idea/
